#header .header {
  height: 120px;
}
#header .header .homepage {
  height: 80px;
  margin-top: 20px;
}
#header .header ul {
  margin-top: 46px;
  margin-right: 40px;
}
#header .header ul li {
  display: inline-block;
  margin: 0 15px;
  font-size: 18px;
}
#header .header ul li a {
  text-decoration: none;
}
#header .header ul li a.selected,
#header .header ul li a:hover {
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}
@media only screen and (max-device-width: 500px) {
  #header .header ul {
    margin-top: 24px;
  }
  #header .header ul li {
    display: block;
  }
}
