#project .carousel .carousel-control {
  width: 50%;
}
#project .carousel .right,
#project .carousel .left {
  background: none;
}
#project .carousel:hover .carousel-indicators {
  display: inherit;
}
#project .carousel .carousel-indicators {
  display: none;
}
#project .carousel .carousel-indicators li {
  background-color: #b0b0af;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border: 0;
}
#project .carousel .carousel-indicators li.active {
  background-color: #90c4b1;
}
#project h1 {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #b0b0af;
  display: inline-block;
  font-size: 26px;
}
#project p {
  font-size: 13px;
  font-weight: 200;
}
