extends _layout

block header
    #header
        .container
            .row
                .col-xs-12.backgound-color8.color6
                    .row.header
                        .col-xs-2.text-center
                            a(href="/")
                                img.homepage(src="/img/anneso7.svg")
                        .col-xs-10.text-right
                            ul.list-unstyled
                                li
                                    a.selected(href="/portfolio.html") Réalisation
                                li
                                    a(href="/index.html#about") Qui suis-je ?
                                li
                                    a(href="/index.html#contact") Contact
