extends _layout_with_header

block content
  #portfolio
    .container
      .row
        .col-sm-2
          br
          br
          include _menu
        .col-sm-10.portfolio.color7
          each project in site.portfolio.all().reverse()
            a.thumbnail(href=project._url, data-category=project.category)
              img(src='/portfolio/' + project.path + '/' + project.path + '_thumbnail.png')
              .center
                h2= project.title
