@import '../../node_modules/bootstrap/less/variables';

#project {
  .carousel {
    .carousel-control {
      width: 50%;
    }
    .right, .left {
      background: none;
    }

    &:hover {
      .carousel-indicators {
        display: inherit;
      }
    }

    .carousel-indicators {
      display: none;
      li {
        background-color: #b0b0af;
        width: 15px;
        height: 15px;
        margin: 0 5px;
        border: 0;

        &.active {
          background-color: #90c4b1;
        }
      }
    }
  }

  h1 {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b0b0af;
    display: inline-block;
    font-size: 26px;
  }
  p {
    font-size: 13px;
    font-weight: 200;
  }
}
