---
title: 'ABC'
date: 1/2/2014
path: 'abc'
pictures: 3
category: édition
---

extends ../views/_project

block text
  p Direction artistique du rapport annuel 2007, pour ABC arbitrage, une société qui met à profit son savoir-faire dans le domaine des arbitrages boursiers, et systématise cette activité en faisant appel à une créativité et à une réactivité permanente.
  p ABC Arbitrage a donc choisit pour 2007 la métaphore du journal de bord, dans le fond avec un contenu en rapport avec l'univers de la voile et dans la forme un cahier de bord "jaune étanche".
