---
title: 'Arjo'
date: 1/2/2014
path: 'arjo'
pictures: 6
category: édition
---

extends ../views/_project

block text
  p Conception et réalisation d'un outil commercial pour Arjowiggings, un support qui permet de présenter la nouvelle gamme couleur de papiers "ouate de cellulose".
  p Cet outil a été pensé comme un menu, tant par la forme, que par le fond avec l'utilisation d'un vocabulaire culinaire.
  p 3 univers ont été crée autour de 3 menus:
  ul
    li écobio,
    li néolabo,
    li ethnofood
  p Travail réalisé :
  ul
    li mise en avant de 3 nuanciers,
    li créations de jeux typographiques,
    li planches tendances.
