---
title: 'afnor'
date: 13/6/2014
path: 'afnor'
pictures: 7
category: affiche
---

extends ../views/layout/_project

block text
  p Création d'une nouvelle identité pour le catalogue 2015 d'Afnor Compétences, qui propose aux professionnels une offre de formation, multiples, variés et rigoureusement précis.
  p Réflexion autour d'un visuel de couverture, plus chaleureux et humain, déclinable sur différentes thématiques : création d'un principe de triangles de couleurs et de visuels de personnes, évoquant les multiples compétences d'Afnor.
  p Élaboration d'une gamme de pictogrammes pour identifier les différentes thématiques.
  p Hierarchisation des informations et mise en place d'une structure facilitatant la lecture et l'organisation des informatisations : principe de rubriquage, onglets, couleurs et pictogrammes.
